# 2019-10-27 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/LICENSE.md
!/README.md
!app/code/community/Justuno/**/*
!app/design/adminhtml/default/default/template/justuno/**/*
!app/design/frontend/base/default/layout/justuno/**/*
!app/design/frontend/base/default/template/justuno/**/*
!app/etc/modules/Justuno_M1.xml
# 2020-03-14
# "Respond to the `/justuno/service-worker.js` request with the provided JavaScript":
# https://github.com/justuno-com/m1/issues/42
!/justuno/**/*
