<?xml version="1.0"?>
<config>
	<modules>
		<Justuno_M1>
			<author>Dmitry Fedyuk</author>
			<url>https://www.upwork.com/fl/mage2pro</url>
			<version>1.5.6</version>
		</Justuno_M1>
	</modules>
	<frontend>
		<layout><updates><Justuno_M1><file>justuno/m1.xml</file></Justuno_M1></updates></layout>
		<product>
			<configurable>
				<child>
<!-- 2019-10-30 @see Mage_Catalog_Model_Product_Type_Configurable::getUsedProducts() -->
					<attributes>
<!-- 2019-10-30 «For the variants, I get no title returned»: https://github.com/justuno-com/m1/issues/23 -->
						<name/>
<!-- 2019-10-30 «For the variants, I get 0 as price for all the pricing»:
https://github.com/justuno-com/m1/issues/22 -->
						<price/>
<!-- 2019-10-30
«I also tested the isDisabled by disabling the variant product
and it's still false and shows the actual inventory»: https://github.com/justuno-com/m1/issues/24 -->
						<status/>
					</attributes>
				</child>
			</configurable>
		</product>
		<routers>
			<Justuno_M1>
				<args>
					<frontName>justuno</frontName>
					<module>Justuno_M1</module>
				</args>
				<use>standard</use>
			</Justuno_M1>
			<Justuno_M1_Legacy>
				<args>
					<frontName>jumagext</frontName>
					<module>Justuno_M1</module>
				</args>
				<use>standard</use>
			</Justuno_M1_Legacy>
		</routers>
	</frontend>
	<global>
<!-- 2019-11-26
@used-by Mage_Log_Model_Visitor::isModuleIgnored()
https://github.com/OpenMage/magento-mirror/blob/1.9.4.3/app/code/core/Mage/Log/Model/Visitor.php#L333-L344 -->
		<ignoredModules><entities><Justuno_M1/></entities></ignoredModules>
		<resources><Justuno_M1><setup><module>Justuno_M1</module></setup></Justuno_M1></resources>
	</global>
</config>