<?xml version='1.0'?>
<config>
	<sections>
		<justuno>
			<label>Justuno</label>
			<show_in_default>1</show_in_default>
			<show_in_store>1</show_in_store>
			<show_in_website>1</show_in_website>
			<sort_order>999</sort_order>
			<tab>general</tab>
			<groups>
				<justuno_settings>
					<frontend_type>text</frontend_type>
					<label>Options</label>
					<show_in_default>1</show_in_default>
					<show_in_store>1</show_in_store>
					<show_in_website>1</show_in_website>
					<sort_order>10</sort_order>
					<fields>
						<accid>
							<comment>ACCID is found in the admin settings of your Justuno account in your embed section (XXXXXXXX-XXXX-XXXX-XXXXXXX)</comment>
							<frontend_type>text</frontend_type>
							<label>ACCID (Unique Justuno ACCOUNT ID)</label>
							<show_in_default>1</show_in_default>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
							<sort_order>10</sort_order>
						</accid>
						<brand_attributure translate='label'>
							<frontend_type>select</frontend_type>
							<label>Choose Brand Attribute </label>
							<show_in_default>1</show_in_default>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
							<sort_order>11</sort_order>
							<source_model>Justuno_M1_Config_Brand</source_model>
						</brand_attributure>
						<juajaxurl>
							<comment>This is any uniquely identifiable URL segment of one which is called upon when an item is being added to the cart via AJAX (e.g. /addToCart, ?ajaxUpdate, etc.)</comment>
							<frontend_type>text</frontend_type>
							<label>AJAX URL (OPTIONAL if your cart has modded request URLs)</label>
							<show_in_default>1</show_in_default>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
							<sort_order>12</sort_order>
						</juajaxurl>
						<jutoken>
							<frontend_type>text</frontend_type>
							<label>Token Key</label>
							<show_in_default>1</show_in_default>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
							<sort_order>13</sort_order>
						</jutoken>
						<jubutton>
							<frontend_model>Justuno_M1_Block_GenerateToken</frontend_model>
							<frontend_type>button</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
							<sort_order>20</sort_order>
						</jubutton>
					</fields>
				</justuno_settings>
			</groups>
		</justuno>
	</sections>
</config>