<?xml version="1.0"?>
<config>
	<modules>
		<Justuno_Jumagext>
			<author>Dmitry Fedyuk</author>
			<url>https://www.upwork.com/fl/mage2pro</url>
			<version>1.3.6</version>
		</Justuno_Jumagext>
	</modules>
	<frontend>
		<layout>
			<updates>
				<jumagext>
					<file>justuno/jumagext.xml</file>
				</jumagext>
			</updates>
		</layout>
		<product>
			<configurable>
				<child>
<!-- 2019-10-30 @see \Mage_Catalog_Model_Product_Type_Configurable::getUsedProducts() -->
					<attributes>
<!-- 2019-10-30 «For the variants, I get no title returned»: https://github.com/justuno-com/m1/issues/23 -->
						<name/>
<!-- 2019-10-30 «For the variants, I get 0 as price for all the pricing»:
https://github.com/justuno-com/m1/issues/22 -->
						<price/>
<!-- 2019-10-30
«I also tested the isDisabled by disabling the variant product
and it's still false and shows the actual inventory»: https://github.com/justuno-com/m1/issues/24 -->
						<status/>
					</attributes>
				</child>
			</configurable>
		</product>
		<routers>
			<jumagext>
				<use>standard</use>
				<args>
					<module>Justuno_Jumagext</module>
					<frontName>jumagext</frontName>
				</args>
			</jumagext>
		</routers>
	</frontend>
	<global>
		<blocks>
			<justuno_jumagext><class>Justuno_Jumagext_Block</class></justuno_jumagext>
		</blocks>
		<models>
		   <justuno_jumagext>
				<class>Justuno_Jumagext_Model</class>
		   </justuno_jumagext>
		</models>
		<helpers>
			<justuno_jumagext>
				<class>Justuno_Jumagext_Helper</class>
			</justuno_jumagext>
		</helpers>
	</global>
</config>